<div  class="warning-container">
  <div>
    <h3>{{'airMessage' | translate}}</h3>
    <div *ngFor="let item of warnings">
      <p *ngIf="item.warning == 1" class="good mat-body-strong">
        <mat-icon>play_arrow</mat-icon> <span [innerHTML]="item.getParameterHTML()"></span> : {{"messageGood" | translate}}
      </p>

      <p *ngIf="item.warning == 2" class="moderate mat-body-strong">
        <mat-icon>play_arrow</mat-icon> <span [innerHTML]="item.getParameterHTML()"></span> : {{"messageModerate" | translate}}
      </p>

      <p *ngIf="item.warning == 3" class="unhealthy-sensitive mat-body-strong">
        <mat-icon>play_arrow</mat-icon> <span [innerHTML]="item.getParameterHTML()"></span> : {{"messageUnhealthySensitive" | translate}}
      </p>

      <p *ngIf="item.warning == 4" class="unhealthy mat-body-strong">
        <mat-icon>play_arrow</mat-icon> <span [innerHTML]="item.getParameterHTML()"></span> : {{"messageUnhealthy" | translate}}
      </p>

      <p *ngIf="item.warning == 5" class="very-unhealthy mat-body-strong">
        <mat-icon>play_arrow</mat-icon> <span [innerHTML]="item.getParameterHTML()"></span> : {{"messageVeryUnhealthy" | translate}}
      </p>

      <p *ngIf="item.warning == 6" class="hazardous mat-body-strong">
        <mat-icon>play_arrow</mat-icon> <span [innerHTML]="item.getParameterHTML()"></span> : {{"messageHazardous" | translate}}
      </p>

      <p *ngIf="item.warning == 7" class="very-hazardous mat-body-strong">
        <mat-icon>play_arrow</mat-icon> <span [innerHTML]="item.getParameterHTML()"></span> : {{"messageVeryHazardous" | translate}}
      </p>

      <p *ngIf="item.warning == 8" class="out-of-range mat-body-strong">
        <mat-icon>play_arrow</mat-icon> <span [innerHTML]="item.getParameterHTML()"></span> : {{"messageOutOfRange" | translate}}
      </p>
    </div>
  </div>
</div>
