.popup-container {
  display: flex;
  flex-direction: column;
  height: 100%;

  .popup-header {
    flex: 0 1 auto;
    justify-self: flex-start;
    display: flex;
    justify-content: flex-end;
  }

  title {
    flex: 0 1 auto;
    margin-top: 1rem;
  }

  p {
    flex: 1 1 auto;
  }
}