.sidenav-container {
  height: 100%;

}

.sidenav {
  width: 200px;

  .mat-toolbar {
    background: inherit;
  }

  .lang-buttons-div {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    
    .lang-buttons {
      display: flex;
    
      > * {
        flex: 1;
      }
    }
  }
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
