<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)"
      (click)="handleClick()">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="main" routerLinkActive="active">{{'mainModuleName' | translate}}</a>
      <a mat-list-item routerLink="cities" routerLinkActive="active">{{'citiesModuleName' | translate}}</a>
      <mat-divider></mat-divider>
      <mat-action-list>
        <button mat-list-item (click)="openPopup('pm10')">pm10</button>
        <button mat-list-item (click)="openPopup('pm25')">pm25</button>
        <button mat-list-item (click)="openPopup('bc')">bc</button>
        <button mat-list-item (click)="openPopup('no2')">no2</button>
        <button mat-list-item (click)="openPopup('so2')">so2</button>
        <button mat-list-item (click)="openPopup('co')">co</button>
        <button mat-list-item (click)="openPopup('o3')">o3</button>
      </mat-action-list> 
    </mat-nav-list>
    <mat-divider></mat-divider>

    <div class="lang-buttons-div">
      <mat-button-toggle-group class="lang-buttons" #group="matButtonToggleGroup">
        <mat-button-toggle (click)="setPL()">
          PL
        </mat-button-toggle>
        <mat-button-toggle (click)="setEN()">
          EN
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>{{'appName' | translate}}</span>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
